# Ignore externals
ccs_config
chem_proc
cime
components
manage_externals.log
src/physics/ali_arms/
src/physics/carma/base
src/physics/clubb
src/physics/cosp2/src
src/physics/silhs
src/physics/pumas
src/physics/pumas-frozen
src/dynamics/fv3/atmos_cubed_sphere
libraries/FMS
libraries/mct
libraries/parallelio
libraries/tuv-x
src/atmos_phys
src/dynamics/mpas/dycore
share
src/hemco
# Ignore compiled python
buildnmlc
buildcppc

# ignore ide configs
.vscode

# Ignore editor temporaries and backups
*~
.#*
\#*#
*.swp

# Ignore test output files
cime-tests.o*
aux_cam_*.log
test_driver_*.sh
cam_test_summaries

# Ignore python bytecode files
*.pyc
