[submodule "ali_arms"]
	path = src/physics/ali_arms
	url = https://github.com/ESCOMP/ALI-ARMS
        esmrequired = I:T
[submodule "cime"]
	path = cime
	url = https://github.com/jedwards4b/cime
        esmrequired = T:T
[submodule "cosp2"]
	path = src/physics/cosp2/src
	url = https://github.com/CFMIP/COSPv2.0
        esmsparse = ../.cosp_sparse_checkout
        esmtag = v2.1.4cesm
[submodule "clubb"]
	path = src/physics/clubb
	url = https://github.com/larson-group/clubb_release
        esmsparse = ../.clubb_sparse_checkout
        esmtag = clubb_4ncar_20221129_59cb19f_20230330_branchtag
[submodule "mpas"]
	path = src/dynamics/mpas/dycore
	url = https://github.com/MPAS-Dev/MPAS-Model.git
        esmsparse = ../.mpas_sparse_checkout
[submodule "cdeps"]
	path = components/cdeps
	url = https://github.com/jedwards4b/CDEPS.git
[submodule "cice6"]
	path = components/cice
	url = https://github.com/ESCOMP/CESM_CICE
[submodule "cice5"]
	path = components/cice5
	url = https://github.com/ESCOMP/CESM_CICE5
[submodule "cism"]
	path = components/cism
	url = https://github.com/jedwards4b/CISM-wrapper
[submodule "clm"]
	path = components/clm
	url = https://github.com/jedwards4b/ctsm
[submodule "cmeps"]
	path = components/cmeps
	url = https://github.com/ESCOMP/CMEPS.git
[submodule "cpl7"]
	path = components/cpl7
	url = https://github.com/ESCOMP/CESM_CPL7andDataComps
[submodule "mosart"]
	path = components/mosart
	url = https://github.com/ESCOMP/MOSART
[submodule "rtm"]
	path = components/rtm
	url = https://github.com/ESCOMP/RTM
[submodule "fms"]
	path = libraries/FMS
	url = https://github.com/jedwards4b/FMS_interface
[submodule "parallelio"]
	path = libraries/parallelio
	url = https://github.com/NCAR/ParallelIO
[submodule "mct"]
	path = libraries/mct
	url = https://github.com/MCSclimate/MCT
[submodule "hemco"]
	path = src/hemco
	url = https://github.com/jedwards4b/HEMCO_CESM
        esmtag = hemco-cesm1_2_1_hemco3_6_3_cesm_rme
[submodule "pumas"]
	path = src/physics/pumas
	url = https://github.com/ESCOMP/PUMAS
[submodule "pumas-frozen"]
	path = src/physics/pumas-frozen
	url = https://github.com/ESCOMP/PUMAS
[submodule "carma"]
	path = src/physics/carma/base
	url = https://github.com/ESCOMP/CARMA_base.git
[submodule "atmos_phys"]
	path = src/atmos_phys
	url = https://github.com/ESCOMP/atmospheric_physics
[submodule "atmos_cubed_sphere"]
	path = src/dynamics/fv3/atmos_cubed_sphere
	url = https://github.com/ESCOMP/FV3_CESM.git
[submodule "ccs_config"]
	path = ccs_config
	url = https://github.com/ESMCI/ccs_config_cesm/
[submodule "chem_proc"]
	path = chem_proc
	url = https://github.com/ESCOMP/CHEM_PREPROCESSOR.git
[submodule "share"]
	path = share
	url = https://github.com/ESCOMP/CESM_share
