# Ignore externals
chem_proc
cime
components
manage_externals.log
src/physics/carma/base
src/physics/clubb
src/physics/cosp2/src
src/physics/silhs
src/physics/pumas
src/dynamics/fv3/atmos_cubed_sphere
libraries/FMS
src/atmos_phys

# Ignore compiled python
buildnmlc
buildcppc

# Ignore editor temporaries and backups
*~
.#*
\#*#
*.swp

# Ignore test output files
cime-tests.o*
aux_cam_*.log
test_driver_*.sh
cam_test_summaries
*.pyc
