body {
  font-family: Helvetica, Arial, sans-serif;
  background:  #EEEEEE;
  color:       black;
}

a:link { text-decoration:none; color:navy; }
a:visited { text-decoration:none; color:#996699; }
a:active { text-decoration:none }
a:hover { text-decoration:none; color:#0066FF; }

h1{font-size: 1.5em }

table {border: thin solid; border-collapse: separate; border-spacing: 0; empty-cells: show;}
td    {border: thin solid; padding: .2em;}
th    {border: thin solid; padding: .2em;}

td.on {background: green;}
